// base/base.scss
@use '../utils/variables';
@use '../utils/mixins';



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

hr {
  border: none;
  height: 1px;
  background-color: variables.$color-lines;
  margin: 2rem 0;
}