// blocks/_header.scss
@use '../utils/variables';
@use '../utils/mixins';

.header {
  background-color: variables.$color-background-dark; // Dark background for header
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid variables.$color-lines;

  &__nav {
    @include mixins.flex-center;
    justify-content: space-between;
    padding: 0 2rem; // Adjust padding as needed

    .logo {
      color: variables.$color-text-dark; // White text for logo
      font-size: 1.5rem;
      font-weight: 700;
      font-family: variables.$font-stack-secondary;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 1rem;

        a {
          color: variables.$color-text-light; // Lighter text for nav links
          text-decoration: none;
          font-weight: 500;
          transition: color 0.3s ease;

          &:hover {
            color: variables.$color-primary; // Primary color on hover
          }
        }
      }
    }

    .github-icon {
      color: variables.$color-text-light;
      font-size: 1.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: variables.$color-primary;
      }
    }

    @include mixins.respond(mobile) {
      .logo {
        font-size: 1.2rem;
      }
      ul {
        display: none; // Basic mobile collapse, a real hamburger menu is more complex
      }
      .github-icon {
        font-size: 1.2rem;
      }
    }
  }
}